

.container
{
  height:400px;
  width:400px;
  //border:5px solid cornflowerblue ;
}

.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.header{
  height:100%;
  width:100%;
  //border-bottom: 5px solid blue;

}